/* =============================================================================================== */
/* Variables */
/* =============================================================================================== */
:root {
  --text-color-light-mode: rgb(0, 0, 60);
  --text-hover-color-light-mode: rgb(151, 151, 151);
  --background-color-light-mode: linear-gradient(
    to right,
    rgb(117, 117, 117),
    white 100%
  );
  --text-color-dark-mode: darkgrey;
  --text-hover-color-dark-mode: white;
  --background-color-dark-mode: linear-gradient(
    to right,
    black,
    rgb(81, 81, 81) 100%
  );
}

/* =============================================================================================== */
/* Reset */
/* =============================================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

/* =============================================================================================== */
/* General */
/* =============================================================================================== */

html {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

html::-webkit-scrollbar {
  display: none !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--text-color-light-mode);
  background: white;
}

::selection {
  color: var(--text-color-light-mode);
  background: white;
}

body {
  background: var(--background-color-light-mode);
  color: var(--text-color-light-mode);
  font-family: Courier New;
  -webkit-font-smoothing: antialiased;
}

body.dark {
  background: var(--background-color-dark-mode);
  color: var(--text-color-dark-mode);
}

a {
  color: var(--text-color-light-mode);
}
a.dark {
  color: var(--text-color-dark-mode) !important;
}
a:hover {
  color: var(--text-hover-color-light-mode);
}
a:hover.dark {
  color: var(--text-hover-color-dark-mode) !important;
}

/* =============================================================================================== */
/* Top container */
/* =============================================================================================== */

.top-container {
  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.top-container > hr {
  margin: 1rem 0;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#light-dark-button {
  font-size: 2rem;
  border: none;
  padding: 7px 5px;
  color: var(--text-color-light-mode);
  background-color: transparent;
  cursor: pointer;
}
#light-dark-button.dark {
  color: var(--text-color-dark-mode);
}

/* =============================================================================================== */
/* Switch container */
/* =============================================================================================== */
.switch-container {
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  color: inherit;
  border: none;
}

.top-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.top-button-active {
  background: rgba(255, 255, 255, 0.15);
}

/* =============================================================================================== */
/* Center container scripts */
/* =============================================================================================== */

#center-container-scripts {
  /* background: red; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  margin: 3rem;
  padding: 1rem;
  overflow: hidden;
}

.script-container {
  overflow-wrap: break-word;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 1rem;
  text-align: justify;
}

.script-container.dark {
  background: rgba(255, 255, 255, 0.2);
}

.script-desc {
  margin-top: 1rem;
}

.link-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 18px;
  border: 2px solid var(--text-color-dark-mode);
  color: var(--text-color-dark-mode);
}

.link-container:hover {
  background: rgb(60, 60, 60);
}

.script-link {
  max-width: calc(100% - 3rem);
}

.link-container > button {
  font-size: 1.5rem;
  padding: 10px;
  background: transparent;
  color: var(--text-color-dark-mode);
  border: none;
  cursor: pointer;
}

.link-container > button:hover {
  color: white;
}

/* =============================================================================================== */
/* Center container install */
/* =============================================================================================== */

#center-container-install {
  margin: 4rem auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
  width: min(90%, 80rem);
}

.list-container > img {
  width: 94%;
  margin-left: 3%;
}

.list-container > * {
  margin: 15px 0;
  text-align: justify;
}

/* =============================================================================================== */
/* Hide stuff */
/* =============================================================================================== */

.working {
  color: red;
  text-transform: uppercase;
}

.hide {
  display: none !important;
}

#very:hover {
  cursor: pointer;
}
